#container {
    text-align: center;
    --background: #ccc url("/assets/img/bg-logo3.jpg") no-repeat center center / cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  #bg { 
  --background: #ccc url("/assets/img/bg-logo3.jpg") no-repeat center center / cover;
  }

  ion-content {
    --background: #ccc url("/assets/img/dynasty-logo.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  .class{
    width: 70%;
    margin: auto;
   }

