<ion-header>
  <ion-toolbar>
    <!-- back button which takes user to home page -->
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">

    <!-- lining and spaces -->
    <div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <!-- image that is outputted on the page - this is the logo of the agency  in game  -->
    <img width="1000" height="250" src="../assets/img/dynasty-new.png" />

    <!-- Default Searchbar (not completed) -->
    <ion-searchbar></ion-searchbar>

    <!-- Apartments -->

    <ion-card class="class">
      <ion-toolbar>
        <ion-title>Apartments</ion-title>
      </ion-toolbar>
    </ion-card>

    <!-- the main ion-card that has all content inside -->
    <ion-card>

      <ion-row>
        <ion-col col-6>
          <!-- read the class "class that centers and changed the color" -->
          <ion-card class="class">
            <ion-card-content>
              <!-- image added and outputted on screen -->
              <img width="326" height="227" src="../assets/img/apartments/a1.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Eclipse Towers, Penthouse Suite 3</ion-card-title>
              <ion-card-title>Price: $1,100,000 </ion-card-title>
              <ion-card-title>Vehicle capacity: 10</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- spacing -->
      <br><br>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/apartments/a1.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Eclipse Towers, Penthouse Suite 2</ion-card-title>
              <ion-card-title>Price: $985,000</ion-card-title>
              <ion-card-title>Vehicle capacity: 10</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/apartments/a1.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Eclipse Towers, Penthouse Suite 1</ion-card-title>
              <ion-card-title>Price: $905,000</ion-card-title>
              <ion-card-title>Vehicle capacity: 10</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/apartments/a2.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>2655 Wild Oats Drive</ion-card-title>
              <ion-card-title>Price: $800,000</ion-card-title>
              <ion-card-title>Vehicle capacity: 10</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/apartments/a3.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>2044 North Conker Avenue</ion-card-title>
              <ion-card-title>Price: $762,000</ion-card-title>
              <ion-card-title>Vehicle capacity: 10</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/apartments/a4.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>2045 North Conker Avenue </ion-card-title>
              <ion-card-title>Price: $727,000</ion-card-title>
              <ion-card-title>Vehicle capacity: 10</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/apartments/a5.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>2862 Hillcrest Avenue</ion-card-title>
              <ion-card-title>Price: $705,000</ion-card-title>
              <ion-card-title>Vehicle capacity: 10</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/apartments/a6.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>2868 Hillcrest Avenue</ion-card-title>
              <ion-card-title>Price: $672,000</ion-card-title>
              <ion-card-title>Vehicle capacity: 10</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <br><br>

      <!-- Arcades -->

      <br><br>

      <ion-card class="class">
        <ion-toolbar>
          <ion-title>Arcades</ion-title>
        </ion-toolbar>
      </ion-card>

      <br><br>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/arcades/arc1.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Eight-Bit Arcade</ion-card-title>
              <ion-card-title>Price: $2,530,000</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/arcades/arc2.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Insert Coin Arcade</ion-card-title>
              <ion-card-title>Price: $2,345,000</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/arcades/arc3.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Warehouse Arcade </ion-card-title>
              <ion-card-title>Price: $2,135,000</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/arcades/arc4.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Videogeddon Arcade</ion-card-title>
              <ion-card-title>Price: $1,875,000</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- Bunkers -->
      <br><br>

      <ion-card class="class">
        <ion-toolbar>
          <ion-title>Bunkers</ion-title>
        </ion-toolbar>
      </ion-card>

      <br><br>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/bunkers/b1.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Farmhouse Bunker </ion-card-title>
              <ion-card-title>Price: $2,375,000</ion-card-title>
              <ion-card-title>Vehicle capacity: 3 </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/bunkers/b2.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Thomson Scrapyard Bunker</ion-card-title>
              <ion-card-title>Price: $2,290,000</ion-card-title>
              <ion-card-title>Vehicle capacity: 3 </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/bunkers/b3.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Smoke Tree Road Bunker </ion-card-title>
              <ion-card-title>Price: $2,205,000</ion-card-title>
              <ion-card-title>Vehicle capacity: 3 </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="326" height="227" src="../assets/img/bunkers/b4.jpg" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Grand Senora Desert Bunker</ion-card-title>
              <ion-card-title>Price: $2,120,000</ion-card-title>
              <ion-card-title>Vehicle capacity: 3 </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>

</ion-content>