<ion-header>
  <ion-toolbar>
    <!-- back button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- main div -->
  <div id="container">

    <!-- Lining in div -->
    <div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br>
    </div>

    <img width="1024" height="256" src="../assets/img/ammu_nation.png" />

    <!-- Default Searchbar (not completed) -->
    <ion-searchbar></ion-searchbar>

    <ion-card>

      <!-- Melee -->
      <ion-card class="class">
        <ion-toolbar>
          <ion-title>Melee</ion-title>
        </ion-toolbar>
      </ion-card>

      <br><br>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/melee/m3.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Broken Bottle</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/melee/m4.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Switchblade</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/melee/m5.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Antique Cavalry Dagger</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/melee/m6.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Knife</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/melee/m7.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Machete</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/melee/m8.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Hatchet</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <br><br>

      <!-- Handguns -->

      <ion-card class="class">
        <ion-toolbar>
          <ion-title>Handguns</ion-title>
        </ion-toolbar>
      </ion-card>

      <br><br>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/handguns/h1.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Stun Gun</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/handguns/h2.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Flare Gun</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/handguns/h3.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>SNS Pistol</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/handguns/h4.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>SNS Pistol Mk II</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/handguns/h5.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Vintage Pistol</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/handguns/h6.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Combat Pistol</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/handguns/h7.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Pistol</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/handguns/h8.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Pistol Mk II</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <br><br>

      <!-- Machine Guns -->

      <ion-card class="class">
        <ion-toolbar>
          <ion-title>Machine Guns</ion-title>
        </ion-toolbar>
      </ion-card>

      <br><br>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/machineGuns/mg1.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Micro SMG</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/machineGuns/mg2.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Mini SMG</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/machineGuns/mg3.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>SMG</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/machineGuns/mg4.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>SMG Mk II</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/machineGuns/mg5.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Assault SMG</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/machineGuns/mg6.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Combat PDW</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/machineGuns/mg7.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Machine Pistol</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/machineGuns/mg8.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Gusenberg Sweeper</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <br><br>

      <!-- Shotguns -->

      <ion-card class="class">
        <ion-toolbar>
          <ion-title>Shotguns</ion-title>
        </ion-toolbar>
      </ion-card>

      <br><br>

      <ion-row>

        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/shotguns/s1.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Musket</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/shotguns/s2.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Sawed-Off Shotgun</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/shotguns/s3.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Pump Shotgun</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/shotguns/s4.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Pump Shotgun Mk II</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/shotguns/s5.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Bullpup Shotgun</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/shotguns/s6.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Sweeper Shotgun</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/shotguns/s7.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Heavy Shotgun</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/shotguns/s8.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Assault Shotgun</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <br><br>

      <!-- Assault Rifles -->

      <ion-card class="class">
        <ion-toolbar>
          <ion-title>Assault Rifles</ion-title>
        </ion-toolbar>
      </ion-card>

      <br><br>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/assaultRifles/ar1.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Compact Rifle</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/assaultRifles/ar2.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Advanced Rifle</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/assaultRifles/ar3.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Bullpup Rifle</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/assaultRifles/ar4.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Bullpup Rifle Mk II</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/assaultRifles/ar5.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Assault Rifle</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/assaultRifles/ar6.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Assault Rifle Mk II</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/assaultRifles/ar7.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Carbine RIfle</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/assaultRifles/ar8.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Carbine Rifle Mk II</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <br><br>

      <!-- Sniper Rifles -->

      <ion-card class="class">
        <ion-toolbar>
          <ion-title>Sniper Rifles</ion-title>
        </ion-toolbar>
      </ion-card>

      <br><br>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/sniperRifles/sr1.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Marksman Rifle</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/sniperRifles/sr2.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Marksman Rifle Mk II</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/sniperRifles/sr3.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Sniper Rifle</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/sniperRifles/sr4.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Heavy Sniper</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <br><br>

      <!-- Heavy Weapons -->

      <ion-card class="class">
        <ion-toolbar>
          <ion-title>Heavy Weapons</ion-title>
        </ion-toolbar>
      </ion-card>

      <br><br>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/heavyWeapons/hw1.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Compact Grenade Launcher</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/heavyWeapons/hw2.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Grenade Launcher</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/heavyWeapons/hw3.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Firework Launcher</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/heavyWeapons/hw4.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Rocket Launcher</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/heavyWeapons/hw5.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Homing Launcher</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/heavyWeapons/hw6.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Minigun</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/heavyWeapons/hw7.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Railgun</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="board">
            <ion-card-content>
              <img width="150" height="84" src="../assets/img/heavyWeapons/hw8.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Widowmaker</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-card>

  </div>

</ion-content>