<!-- <ion-header>
  <ion-toolbar>
    <ion-title>popovercomponent</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
<!-- just added  -->
<ion-grid>
  <ion-row><ion-col>Rate the App</ion-col></ion-row>
  <!-- <ion-row><ion-col><ion-input [(ngModel)]="name" placeholder="1-5"></ion-input>
    </ion-col></ion-row> -->
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group [(ngModel)]="myRate">
        
            <ion-item>
              <ion-label><ion-icon name="thumbs-up-outline">Thumbs Up</ion-icon></ion-label>
              <ion-radio value="thumbsUp"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label><ion-icon name="thumbs-down-outline">Thumbs Down</ion-icon></ion-label>
              <ion-radio value="thumbsDown"></ion-radio>
            </ion-item>
    
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- <ion-row><ion-col><ion-button expand="block" color="success"
      (click)="ClosePopover()">Send</ion-button></ion-col></ion-row> -->
      <ion-row><ion-col><ion-button expand="block" color="success"
        (click)="onSave()">Send</ion-button></ion-col></ion-row>
      <br>
      <ion-row><ion-col>Your rating is: {{myRate}}</ion-col></ion-row>
</ion-grid>

</ion-content>
