<ion-header>
  <ion-toolbar>
    <!-- back button to take user back to the home page of the application -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- this reads the method from the scss that centers the text and all content of the app -->
  <div id="container">

    <!-- Lining and spaces -->
    <div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br>
    </div>

    <!-- image added to display on screen -->
    <img width="1200" height="233" src="../assets/img/legendLogo.PNG" />

    <!-- Default Searchbar (not completed) -->
    <ion-searchbar></ion-searchbar>

    <!-- start of ion-card, takes all content in one card that has other cards inside -->
    <ion-card>

      <ion-row>
        <ion-col col-6>
          <!-- the class "class" is added in her to center content inside the card-->
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/lampadatiNovak.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Lampadati Novak</ion-card-title>
              <ion-card-subtitle>$608,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/2.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Western Rampant Rocket</ion-card-title>
              <ion-card-subtitle>$925,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/3.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Pegassi Zorrusso</ion-card-title>
              <ion-card-subtitle>$1,925,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/4.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Ocelot Jugular</ion-card-title>
              <ion-card-subtitle>$1,225,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/5.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Benefactor Krieger</ion-card-title>
              <ion-card-subtitle>$2,875,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/6.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Ocelot Locust</ion-card-title>
              <ion-card-subtitle>$1,625,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/7.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Progen Emerus</ion-card-title>
              <ion-card-subtitle>$2,750,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/8.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Vysser Neo</ion-card-title>
              <ion-card-subtitle>$1,875,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/9.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Truffade Thrax</ion-card-title>
              <ion-card-subtitle>$2,325,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/10.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Enus Paragon R</ion-card-title>
              <ion-card-subtitle>$905,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/11.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Annis S80RR</ion-card-title>
              <ion-card-subtitle>$2,575,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/12.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Obey 8F Drafter</ion-card-title>
              <ion-card-subtitle>$718,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/13.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Principe Deveste Eight</ion-card-title>
              <ion-card-subtitle>$1,795,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/14.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Schyster Deviant</ion-card-title>
              <ion-card-subtitle>$512,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/15.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Benefactor Schlagen GT</ion-card-title>
              <ion-card-subtitle>$1,300,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/16.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Grotti Itali GTO</ion-card-title>
              <ion-card-subtitle>$1,965,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/17.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Pegassi Toros</ion-card-title>
              <ion-card-subtitle>$498,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/18.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Canis Freecrawler</ion-card-title>
              <ion-card-subtitle>$597,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/19.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Enus Stafford</ion-card-title>
              <ion-card-subtitle>$1,272,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/legendaryMotors/20.png" />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>Ocelot Swinger</ion-card-title>
              <ion-card-subtitle>$909,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-card>

  </div>

</ion-content>