<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

   <div id="container"> 
<ion-card>
  <!-- Lining -->
  <div> 
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

  <img width="1300" height="300" src="../assets/img/southernLogo.PNG"/>

  <!-- Default Searchbar -->
<ion-searchbar></ion-searchbar>
<ion-card> 

  <ion-row>        
  <ion-col col-6>
    <ion-card class="class">
      <ion-card-content>
        <img width="226" height="127" src="../assets/img/southernMotors/1.png"/>
      </ion-card-content>

      <ion-card-header>
        <ion-card-title>Vapid Peyote Gasser</ion-card-title>
        <ion-card-subtitle>$805,000</ion-card-subtitle>
      </ion-card-header>
  </ion-card>   
</ion-col> 
  </ion-row>

  <ion-row>
<ion-col col-6>
  <ion-card class="class">
    <ion-card-content>
      <img width="226" height="127" src="../assets/img/southernMotors/2.png"/>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Weeny Dynasty</ion-card-title>
      <ion-card-subtitle>$450,000</ion-card-subtitle>
    </ion-card-header>
  </ion-card>   
</ion-col> 

  </ion-row>

  <ion-row>        
    <ion-col col-6>
      <ion-card class="class">
        <ion-card-content>
          <img width="226" height="127" src="../assets/img/southernMotors/3.png"/>
        </ion-card-content>

        <ion-card-header>
          <ion-card-title>Annis Hellion</ion-card-title>
          <ion-card-subtitle>$835,000</ion-card-subtitle>
        </ion-card-header>
    </ion-card>   
  </ion-col> 
</ion-row>

  <ion-row> 
  <ion-col col-6>
    <ion-card class="class">
      <ion-card-content>
        <img width="226" height="127" src="../assets/img/southernMotors/4.png"/>
      </ion-card-content>

      <ion-card-header>
        <ion-card-title>Übermacht Zion Classic</ion-card-title>
        <ion-card-subtitle>$812,000</ion-card-subtitle>
      </ion-card-header>
    </ion-card>   
  </ion-col> 

    </ion-row>

    <ion-row>        
      <ion-col col-6>
        <ion-card class="class">
          <ion-card-content>
            <img width="226" height="127" src="../assets/img/southernMotors/5.png"/>
          </ion-card-content>
  
          <ion-card-header>
            <ion-card-title>Bravado Gauntlet Hellfire</ion-card-title>
            <ion-card-subtitle>$745,000</ion-card-subtitle>
          </ion-card-header>
      </ion-card>   
    </ion-col> 
  </ion-row>

  <ion-row> 
    <ion-col col-6>
      <ion-card class="class">
        <ion-card-content>
          <img width="226" height="127" src="../assets/img/southernMotors/6.png"/>
        </ion-card-content>
  
        <ion-card-header>
          <ion-card-title>Vulcar Nebula Turbo</ion-card-title>
          <ion-card-subtitle>$797,000</ion-card-subtitle>
        </ion-card-header>
      </ion-card>   
    </ion-col> 
  
      </ion-row>

      <ion-row>        
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/southernMotors/7.png"/>
            </ion-card-content>
    
            <ion-card-header>
              <ion-card-title>Bravado Gauntlet Classic</ion-card-title>
              <ion-card-subtitle>$615,000</ion-card-subtitle>
            </ion-card-header>
        </ion-card>   
      </ion-col> 
    </ion-row>
  
    <ion-row> 
      <ion-col col-6>
        <ion-card class="class">
          <ion-card-content>
            <img width="226" height="127" src="../assets/img/southernMotors/8.png"/>
          </ion-card-content>
    
          <ion-card-header>
            <ion-card-title>Weeny Issi Sport</ion-card-title>
            <ion-card-subtitle>$897,000</ion-card-subtitle>
          </ion-card-header>
        </ion-card>   
      </ion-col> 
    
        </ion-row>

        <ion-row>        
          <ion-col col-6>
            <ion-card class="class">
              <ion-card-content>
                <img width="226" height="127" src="../assets/img/southernMotors/9.png"/>
              </ion-card-content>
      
              <ion-card-header>
                <ion-card-title>Vapid Caracara 4x4</ion-card-title>
                <ion-card-subtitle>$875,000</ion-card-subtitle>
              </ion-card-header>
          </ion-card>   
        </ion-col> 
      </ion-row>
    
      <ion-row> 
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/southernMotors/10.png"/>
            </ion-card-content>
      
            <ion-card-header>
              <ion-card-title>Declasse Impaler</ion-card-title>
          <ion-card-subtitle>$249,500 (Trade price) <br> 
            $331,835</ion-card-subtitle>
            </ion-card-header>
          </ion-card>   
        </ion-col> 
      
          </ion-row>

        <ion-row>        
  <ion-col col-6>
    <ion-card class="class"> 
      <ion-card-content>
        <img width="226" height="127" src="../assets/img/southernMotors/11.png"/>
      </ion-card-content>

      <ion-card-header>
        <ion-card-title>Declasse Vamos</ion-card-title>
          <ion-card-subtitle>$596,000</ion-card-subtitle>
      </ion-card-header>
  </ion-card>   
</ion-col> 
</ion-row>

<ion-row>
<ion-col col-6>
  <ion-card class="class">
    <ion-card-content>
      <img width="226" height="127" src="../assets/img/southernMotors/12.png"/>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>RC Bandito</ion-card-title>
          <ion-card-subtitle>$1,590,000</ion-card-subtitle>
    </ion-card-header>
  </ion-card>   
</ion-col> 

  </ion-row>

  <ion-row>        
    <ion-col col-6>
      <ion-card class="class">
        <ion-card-content>
          <img width="226" height="127" src="../assets/img/southernMotors/13.png"/>
        </ion-card-content>

        <ion-card-header>
          <ion-card-title>Declasse Tulip</ion-card-title>
          <ion-card-subtitle>$718,000</ion-card-subtitle>
        </ion-card-header>
    </ion-card>   
  </ion-col> 
</ion-row>

<ion-row> 
  <ion-col col-6>
    <ion-card class="class">
      <ion-card-content>
        <img width="226" height="127" src="../assets/img/southernMotors/14.png"/>
      </ion-card-content>

      <ion-card-header>
        <ion-card-title>Vapid Festival Bus</ion-card-title>
          <ion-card-subtitle>$1,385,000 (Trade price) <br>
            $1,842,050</ion-card-subtitle>
      </ion-card-header>
    </ion-card>   
  </ion-col> 

    </ion-row>

    <ion-row>        
      <ion-col col-6>
        <ion-card class="class">
          <ion-card-content>
            <img width="226" height="127" src="../assets/img/southernMotors/15.png"/>
          </ion-card-content>
  
          <ion-card-header>
            <ion-card-title>Mammoth Patriot Stretch</ion-card-title>
          <ion-card-subtitle>$460,000 (Trade price)
            $611,800</ion-card-subtitle>
          </ion-card-header>
      </ion-card>   
    </ion-col> 
  </ion-row>

  <ion-row> 
    <ion-col col-6>
      <ion-card class="class"> 
        <ion-card-content>
          <img width="226" height="127" src="../assets/img/southernMotors/16.png"/>
        </ion-card-content>
  
        <ion-card-header>
          <ion-card-title>Karin Futo</ion-card-title>
          <ion-card-subtitle>$9,000</ion-card-subtitle>
        </ion-card-header>
      </ion-card>   
    </ion-col> 
  
      </ion-row>

      <ion-row>        
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/southernMotors/17.png"/>
            </ion-card-content>
    
            <ion-card-header>
              <ion-card-title>Imponte Ruiner</ion-card-title>
          <ion-card-subtitle>$10,000</ion-card-subtitle>
            </ion-card-header>
        </ion-card>   
      </ion-col> 
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-card class="class">
          <ion-card-content>
            <img width="226" height="127" src="../assets/img/southernMotors/18.png"/>
          </ion-card-content>
    
          <ion-card-header>
            <ion-card-title>Bollokan Prairie</ion-card-title>
          <ion-card-subtitle>$25,000</ion-card-subtitle>
          </ion-card-header>
        </ion-card>   
      </ion-col> 
    
        </ion-row>

        <ion-row>        
          <ion-col col-6>
            <ion-card class="class">
              <ion-card-content>
                <img width="226" height="127" src="../assets/img/southernMotors/19.png"/>
              </ion-card-content>
      
              <ion-card-header>
                <ion-card-title>Karin BeeJay XL</ion-card-title>
          <ion-card-subtitle>$27,000</ion-card-subtitle>
              </ion-card-header>
          </ion-card>   
        </ion-col> 
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card class="class">
            <ion-card-content>
              <img width="226" height="127" src="../assets/img/southernMotors/20.png"/>
            </ion-card-content>
      
            <ion-card-header>
              <ion-card-title>Fathom FQ 2</ion-card-title>
          <ion-card-subtitle>$50,000</ion-card-subtitle>
            </ion-card-header>
          </ion-card>   
        </ion-col> 
      
          </ion-row>

      
    
</ion-card>


</ion-card>
  </div>

</ion-content>
