//allows text to be centered and well structured
#container {
  text-align: center;
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  margin: auto;
}

//this class centers text and changes the color to black
  .class{
    width: 80%;
    margin: auto;
    background-color: black;
   }

  //background image for home page
  ion-content {
    --background: #ccc url("/assets/img/dynasty-logo.jpg") no-repeat center center fixed;
    background-size: cover;
  }