<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home page
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <br><br><br><br>
  <div id="container">
    <br><br><br><br><br><br>
    <strong>Get Started!<br>
      ______________</strong><br><br><br>
    
    <p><img width="250" height="250" src="../assets/img/rockLogo.png"/> </p>
    <br><br>
    <ion-button [routerLink]="['/vehicles']">
      Vehicles
    </ion-button>
    <br>
    <ion-button [routerLink]="['/weapons']">
       Weapons
    </ion-button>
    <br>
      <ion-button [routerLink]="['/properties']">
         Property
      </ion-button>
      <br>
      <ion-button (click)="flashOn()">Flashlight</ion-button>
      <br>
      <ion-button (click)="CreatePopOver()">Rate App</ion-button>
      <br>
      <ion-button [routerLink]="['/news']">Movies Page<br>API</ion-button>
  </div>
</ion-content>
